@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveindown {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 3rem; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 74.93em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 61.93em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveinleft 0.8s ease-out backwards; }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    animation: moveinright 0.8s ease-out backwards; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  color: transparent;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 6rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    -webkit-object-fit: cover;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
  border: 0; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after, .btn:link::after, .btn:visited::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    z-index: -1;
    transition: all 0.2s; }
  .btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveindown 0.5s ease-out 0.8s backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  transition: all 0.2s; }

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active, .btn-text:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  height: 52rem;
  position: relative; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.8s;
    height: 52rem;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-position: top;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url("../img/nat-7.jpg"); }
  .card__heading {
    position: absolute;
    top: 13rem;
    right: 2rem;
    width: 55%;
    display: inline-block;
    text-align: right;
    font-weight: 100;
    font-size: 2.8rem;
    color: #fff;
    text-transform: uppercase; }
    .card__heading-span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1rem 1.5rem; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    width: 80%;
    padding: 2rem;
    margin: 0 auto; }
    .card__details ul {
      list-style-type: none;
      text-align: center; }
      .card__details ul li {
        display: block;
        color: #777;
        text-transform: capitalize;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 6rem;
    color: #fff; }
  .card__price--only {
    font-weight: 300;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price--value {
    font-weight: 100;
    font-size: 6rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    transition: all 0.3s;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
    position: absolute;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      z-index: 20;
      outline: 1rem solid #55c57a;
      transform: scale(1.1); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s; }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem 2rem;
  border: none;
  display: block;
  width: 100%;
  border-radius: 3px;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  border-bottom: 2px solid transparent; }
  .form__input:focus {
    outline: none;
    border-bottom: 2px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 2px solid #ff7730; }

.form__label {
  display: block;
  padding-left: 2rem;
  transition: all 0.3s;
  transform: translateY(0); }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.8rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-button {
  position: absolute;
  top: -0.3rem;
  left: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a; }
  .form__radio-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.3rem;
    width: 1.3rem;
    background-color: #55c57a;
    border-radius: 50%;
    transition: all 0.2s;
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story {
  padding: 6rem;
  padding-left: 9rem;
  width: 80%;
  margin: 0 auto;
  transform: skewX(-15deg);
  background-color: rgba(255, 255, 255, 0.5); }
  .story:not(:last-child) {
    margin-bottom: 6rem; }
  .story__shape {
    height: 15rem;
    width: 15rem;
    text-align: center;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translateX(-3rem) skewX(15deg);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  .story__img {
    height: 100%;
    transition: all 0.5s;
    transform: translateX(-4rem) scale(1.04); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    transform: translate(-50%, -5%);
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0; }
  .story__text {
    transform: skewX(15deg); }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(2px) brightness(80%);
    transform: translateX(-4rem) scale(1); }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    color: #777;
    display: inline-block;
    font-size: 3rem;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #55c57a; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #fff;
    width: 75%;
    border-radius: 3px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transition: all 0.4s 0.1s; }
  .popup__left {
    width: 33%;
    display: table-cell; }
  .popup__right {
    width: 67%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__image {
    width: 100%;
    display: block; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: #333; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #eee; }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:visited, .footer__link:link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-color: #333; }
  .footer__link:active, .footer__link:hover {
    color: #55c57a;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    color: #fff;
    padding-top: 2rem;
    border-top: 1px solid #eee; }

.row {
  width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-1"] {
    float: left; }
    .row [class^="col-1"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: #fff;
  z-index: 200;
  cursor: pointer;
  text-align-last: center; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 150;
  transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 180;
  opacity: 0;
  width: 0;
  transition: all 0.7s; }

.navigation__list {
  width: 100%;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 3rem;
  color: #fff;
  padding: 1rem 2rem;
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all 0.4s; }

.navigation__link:hover {
  color: #55c57a;
  transform: translateX(1rem);
  background-position: 100%; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    height: 2px;
    width: 3rem;
    transition: all 0.2s;
    display: inline-block;
    background-color: #333; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::after {
    top: -0.8rem; }
  .navigation__icon::before {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  padding: 25rem 0;
  margin-top: -15rem;
  background-color: #f7f7f7; }

.section-features {
  padding: 25rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 10rem;
  margin-top: -10rem; }

.section-story {
  position: relative;
  padding: 10rem 0; }

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }

.book {
  background-image: linear-gradient(105deg, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: 100%;
  height: 55rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }
